@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --button-button: Inter;
  --font-roboto: Roboto;

  /* font sizes */
  --button-button-size: 16px;
  --body-small-500-size: 14px;
  --heading-03-size: 32px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --heading-04-size: 24px;
  --font-size-3xl: 22px;
  --body-xl-500-size: 20px;
  --body-large-500-size: 18px;
  --body-xs-400-size: 12px;
  --heading-01-size: 40px;
  --display-01-size: 56px;
  --font-size-15xl: 34px;
  --font-size-26xl: 45px;
  --font-size-4xl: 23px;

  /* Colors */
  --color-white-100: #ffffff;
  --gray-scale-white: #fff;
  --color-royalblue-100: #1877f2;
  --color-royalblue-200: #1e60c6;
  --primary-500: #0a65cc;
  --color-dodgerblue: #308cf2;
  --gray-500: #767f8c;
  --gray-scale-600: #636a80;
  --primary-200: #9dc1eb;
  --color-gainsboro-100: #e6e6e6;
  --gray-100: #e4e5e8;
  --color-gainsboro-200: #d9d9db;
  --color-gainsboro-300: rgba(217, 217, 219, 0.7);
  --gray-600: #5e6670;
  --gray-scale-900: #192033;
  --gray-900: #18191c;
  --color-gray-100: rgba(24, 25, 28, 0.8);
  --color-black: #000;
  --gradient-blue-gradient-19: #00d2ff;
  --gradient-orange-gradient-10: #e65c00;
  --gradient-red-gradient-9: #ec008c;
  --color-deeppink-100: rgba(239, 13, 136, 0.1);
  --gray-400: #9199a3;
  --success-50: #e7f6ea;
  --success-500: #0ba02c;
  --primary-501: #e8f1ff;
  --primary-50: #e7f0fa;
  --danger-50: #ffeded;
  --danger-501: #fceeee;
  --danger-500: #e05151;
  --color-limegreen-100: #6fda44;
  --color-darkslategray-100: #464d61;
  --gray-700: #474c54;
  --gray-50: #f1f2f4;
  --color-whitesmoke-100: #e9eaed;
  --color-whitesmoke-200: rgba(241, 242, 244, 0.7);
  --color-whitesmoke-300: rgba(241, 242, 244, 0.4);
  --color-whitesmoke-400: rgba(241, 242, 244, 0.5);
  --color-whitesmoke-500: rgba(241, 242, 244, 0.6);
  --color-lightgray-100: #cfd6e0;
  --gray-200: #c8ccd1;
  --color-lightgray-200: rgba(200, 204, 209, 0.7);
  --color-lightgray-300: rgba(207, 214, 224, 0.09);
  --gray-scale-50: #edeff5;
  --color-cornflowerblue-100: #1da1f2;
  --color-tomato: #eb524f;
  --color-hotpink: #ea4c89;

  /* Gaps */
  --gap-163xl: 182px;
  --gap-13xl: 32px;
  --gap-smi: 13px;
  --gap-xl: 20px;
  --gap-3xs: 10px;
  --gap-base: 16px;
  --gap-8xl: 27px;
  --gap-154xl: 173px;
  --gap-21xl: 40px;
  --gap-9xs: 4px;
  --gap-5xl: 24px;
  --gap-31xl: 50px;
  --gap-xs: 12px;
  --gap-7xs: 6px;
  --gap-5xs: 8px;
  --gap-11xs: 2px;
  --gap-991xl: 1010px;
  --gap-12xl: 31px;
  --gap-9xl: 28px;
  --gap-8xs: 5px;
  --gap-130xl: 149px;
  --gap-11xl: 30px;
  --gap-lg: 18px;
  --gap-9xs-5: 3.5px;
  --gap-29xl: 48px;
  --gap-10xl: 29px;
  --gap-17xl: 36px;
  --gap-671xl: 690px;
  --gap-219xl: 238px;
  --gap-51xl: 70px;
  --gap-7xl: 26px;
  --gap-627xl: 646px;
  --gap-30xl: 49px;
  --gap-928xl: 947px;
  --gap-23xl: 42px;
  --gap-20xl: 39px;
  --gap-783xl: 802px;
  --gap-782xl: 801px;
  --gap-73xl: 92px;
  --gap-26xl: 45px;
  --gap-33xl: 52px;
  --gap-4xl: 23px;
  --gap-49xl: 68px;
  --gap-136xl: 155px;
  --gap-43xl: 62px;
  --gap-100xl: 119px;

  /* Paddings */
  --padding-2xl: 21px;
  --padding-xl: 20px;
  --padding-base: 16px;
  --padding-xs: 12px;
  --padding-lgi: 19px;
  --padding-mid: 17px;
  --padding-lg: 18px;
  --padding-4xl: 23px;
  --padding-9xl: 28px;
  --padding-8xl: 27px;
  --padding-81xl: 100px;
  --padding-281xl: 300px;
  --padding-61xl: 80px;
  --padding-56xl: 75px;
  --padding-46xl: 65px;
  --padding-33xl: 52px;
  --padding-131xl: 150px;
  --padding-7xs: 6px;
  --padding-31xl: 50px;
  --padding-13xl: 32px;
  --padding-5xl: 24px;
  --padding-6xl: 25px;
  --padding-9xs: 4px;
  --padding-5xs: 8px;
  --padding-12xl: 31px;
  --padding-11xs: 2px;
  --padding-11xl: 30px;
  --padding-12xs: 1px;
  --padding-10xl: 29px;
  --padding-10xs: 3px;
  --padding-8xs: 5px;
  --padding-smi: 13px;
  --padding-3xs: 10px;
  --padding-23xl: 42px;
  --padding-4xs: 9px;
  --padding-2xs: 11px;
  --padding-3xl: 22px;
  --padding-2xs-5: 10.5px;
  --padding-49xl: 68px;
  --padding-sm: 14px;
  --padding-mini: 15px;
  --padding-25xl: 44px;
  --padding-22xl: 41px;
  --padding-19xl: 38px;
  --padding-841xl: 860px;
  --padding-196xl: 215px;
  --padding-411xl: 430px;
  --padding-6xs: 7px;
  --padding-278xl: 297px;
  --padding-55xl: 74px;
  --padding-129xl: 148px;
  --padding-35xl: 54px;
  --padding-16xl: 35px;
  --padding-53xl: 72px;
  --padding-29xl: 48px;
  --padding-41xl: 60px;
  --padding-17xl: 36px;

  /* Border radiuses */
  --br-9xs: 4px;
  --br-10xs: 3px;
  --br-8xs: 5px;
  --br-5xs: 8px;
  --br-33xl: 52px;
  --br-xs: 12px;
  --br-7xs: 6px;
  --br-65xl: 84px;
  --br-31xl: 50px;
  --br-11xs: 2px;
  --br-44xl: 63px;
  --br-21xl: 40px;
  --br-xl: 20px;

  /* Effects */
  --search-shadow: 0px 12px 40px rgba(0, 44, 109, 0.04);
}
