.env
*.pyc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.env.local

__pycache__/
*.py[cod]
*$py.class

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

.pdf
jobML/backend/coreApp/ResumeScraper/.env