.candidateSettingAccount,
.candidateSettingsWrapper {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.candidateSettingsWrapper {
  width: 1584px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
}
.candidateSettingAccount {
  width: 100%;
  position: relative;
  background-color: var(--gray-scale-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 156px;
  gap: var(--gap-51xl);
  letter-spacing: normal;
}
@media screen and (max-width: 1275px) {
  .candidateSettingAccount {
    gap: var(--gap-51xl);
  }
}
@media screen and (max-width: 900px) {
  .candidateSettingAccount {
    gap: var(--gap-51xl);
  }
}
