.createJobFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%; /* Increase the width of the form */
    max-width: 1850px; /* Or set a max-width */
    margin: 1% auto;
    padding: 20px;
    font-family: var(--font-roboto), sans-serif; /* Ensure button uses Roboto */
    font-size: 1.5rem;
    font-weight: 150;
  }
  
  .formRow {
    display: flex;
    justify-content: space-between; /* This will space out the two columns */
    width: 100%;
  }
  
  .formColumn {
    display: flex;
    flex-direction: column;
    flex: 1; /* Each column will take equal width */
    margin: 50px; /* Adjust margin as necessary */
  }
  
  .formGroup label {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .formSkill label {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .formGroup input[type="text"],
  .formGroup input[type="date"],
  .formGroup textarea {
    width: 100%; /* Elements will take up 100% of their parent container */
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 20px;
    height: 65px
  }
  .formSkill textarea {
    width: 100%; /* Elements will take up 100% of their parent container */
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 20px;
    height: 65px
  }
  .formGroup textarea {
    width: 100%;
    height: 678px; /* Or any other height based on your preference */
    resize: vertical;
  }
  .formSkill textarea {
    width: 100%;
    height: 150px; /* Or any other height based on your preference */
    resize: vertical;
  }
  
  .formButton {
    padding: 15px 40px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.2s;
    align-self: center; 
    width: auto; /* Let the button size according to its content */
    margin-top: 0px;
    margin-bottom: 29px;
  }
  
  .formButton:hover {
    background-color: #003580;
  }
  
  @media (max-width: 768px) {
    .formRow {
      flex-direction: column;
    }
  
    .formColumn {
      /* Ensure full width is used for smaller screens */
      margin: 0; /* Reset margins for small screens */
      width: 100%; /* Columns should take full width on small screens */
    }
  
    .formButton {
      width: 100%; /* Button should take full width on small screens */
    }
  }
  